<!DOCTYPE html>
<html lang="en" >
<head>
    <!-- BEGIN META -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Custom Theme">
    <!-- END META -->
    <style type="text/css">
        h4.check {
            margin-left: 80px;
        }

        small.fontsize {
            color: dodgerblue;
        }
    </style>
    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="__ROOT__/Public/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        新增彩涂车间前处理运行记录 - 普林派特ERP管理系统
    </title>
    <!-- BEGIN STYLESHEET-->
    <script src="__ROOT__/Public/js/angular.min.js"></script>
    <link href="__ROOT__/Public/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__ROOT__/Public/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__ROOT__/Public/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- FONT AWESOME ICON CSS -->
    <link href="__ROOT__/Public/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
    <link href="__ROOT__/Public/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/assets/bootstrap-datetimepicker/css/datetimepicker.css"><!-- DATETIMEPICKER PLUGIN CSS -->
    <link href="__ROOT__/Public/css/jquery.stepy.css" rel="stylesheet"><!-- JQUERY STEPY WIZARD CSS -->
    <!--[if lt IE 9]>
    <script src="__ROOT__/Public/js/html5shiv.js">
    </script>
    <script src="__ROOT__/Public/js/respond.min.js">
    </script>
    <![endif]-->
    <!-- END STYLESHEET-->
</head>
<body ng-app="myApp" ng-controller="formController">
<!-- BEGIN SECTION -->
<section id="container" class="">
    <!-- BEGIN HEADER -->
    <include file="./Application/Common/Common/header.html" />
    <!-- END HEADER -->
    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Common/Common/sidebar.html" />
    <!-- END SIDEBAR -->
    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <!-- BEGIN WRAPPER -->
        <section class="wrapper site-min-height">
            <div style="text-align: center; color:cadetblue"><h2>彩涂车间前处理运行记录</h2></div>
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <span class="label label-primary">增 加 记 录</span>
                           <span class="tools pull-right">
                           <a href="javascript:;" class="fa fa-chevron-down"></a>
                           <a href="javascript:;" class="fa fa-times"></a>
                           </span>
                        </header>
                        <div class="panel-body">
                            <div style="text-align: center; font-size: 20px; padding-bottom: 20px">
                                <h3>
                                    <small>当前班组：</small>618Studio
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <small>当前记录人：</small>雷锋
                                </h3>
                            </div>
                            <div class="square-widget">
                                <div class="widget-container">
                                    <div class="stepy-tab">
                                    </div>
                                    <form id="default"  name="myForm" class="form-horizontal" novalidate>
                                        <fieldset title="基 板">
                                            <legend></legend>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">厂 &nbsp;家</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input ng-model="base_manufacturer" type="text" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">类 &nbsp;型</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input ng-model="base_type" type="text" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">锌层厚度</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input ng-model="base_zince_thickness" type="text" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">表面处理</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input ng-model="base_surface_treatment" type="text" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset title="脱 脂 段">
                                            <legend></legend>
                                            <div class="form-group has-feedback">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">温 度 1</label>
                                                <div class="col-md-4 col-sm-4" >
                                                    <input type="number" ng-model="skim_T1" placeholder="" name="temperature" class="form-control"   ng-model="age" required>
                                                    <span class="glyphicon glyphicon-ok form-control-feedback"
                                                          ng-show="myForm.temperature.$dirty && myForm.temperature.$valid "></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">浓 度 1</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="text" ng-model="skim_C1" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">温 度 2</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input ng-model="skim_T2" type="text" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">浓 度 2</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="text" ng-model="skim_C2" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">厂 &nbsp;家</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="text" ng-model="skim_manufacturer2" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">耗 用 量</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="text" ng-model="skim_consumption" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset title="清 洗 段">
                                            <legend></legend>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">温 度 1</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="text" ng-model="rinse_T1" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">温 度 2</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="text" ng-model="rinse_T2" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">温 度 3</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="text" ng-model="rinse_T3" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">游离碱点</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="text" ng-model="rinse_alkali" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset title="特 别 事 项">
                                            <legend></legend>
                                            <div class="form-group">
                                                <label class="col-md-offset-3 col-sm-offset-2 col-md-2 col-sm-2 control-label">特 别 事 项</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <textarea rows="5" ng-model="special_remarks" cols="60" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button class="btn btn-info finish" data-toggle="modal"
                                                data-target="#myModal" ng-click="getTime()">
                                            完&nbsp;成 </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </section>
        <!-- END WRAPPER -->
    </section>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN FOOTER -->
    <include file="./Application/Common/Common/footer.html" />
    <!-- END  FOOTER -->
</section>
<!-- END SECTION -->
<!-- 模态框（Modal）-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    校 对 记 录
                </h4>
            </div>
            <div class="modal-body">
                <h4 style="text-align: center">---------- 基&nbsp;&nbsp;板 ----------</h4>
                <h4 class="check"><small class="fontsize"> 厂 家：</small>{{base_manufacturer}}</h4>
                <h4 class="check"><small class="fontsize"> 类 型：</small>{{base_type}}</h4>
                <h4 class="check"><small class="fontsize"> 锌层厚度：</small>{{base_zince_thickness}}</h4>
                <h4 class="check"><small class="fontsize"> 表面处理：</small>{{base_surface_treatment}}</h4>
                <h4 style="text-align: center">---------- 脱 脂 段 ----------</h4>
                <h4 class="check"><small class="fontsize"> 温度1：</small>{{skim_T1}}</h4>
                <h4 class="check"><small class="fontsize"> 浓度1：</small>{{skim_C1}}</h4>
                <h4 class="check"><small class="fontsize"> 温度2：</small>{{skim_T2}}</h4>
                <h4 class="check"><small class="fontsize"> 浓度2：</small>{{skim_C2}}</h4>
                <h4 class="check"><small class="fontsize"> 厂 家：</small>{{skim_manufacturer2}}</h4>
                <h4 class="check"><small class="fontsize"> 耗用量：</small>{{skim_consumption}}</h4>
                <h4 style="text-align: center">---------- 清 洗 段 ----------</h4>
                <h4 class="check"><small class="fontsize"> 温度1：</small>{{rinse_T1}}</h4>
                <h4 class="check"><small class="fontsize"> 温度2：</small>{{rinse_T2}}</h4>
                <h4 class="check"><small class="fontsize"> 温度3：</small>{{rinse_T3}}</h4>
                <h4 class="check"><small class="fontsize"> 游离碱点：</small>{{rinse_alkali}}</h4>
                <h4 style="text-align: center">---------- 特别事项 ----------</h4>
                <h4 class="check" ><small class="fontsize"> 特别事项：</small>{{special_remarks}}</h4>
                <h4 class="check" ><small class="fontsize"> 提交时间：</small>{{time}}</h4>
            </div>

            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default"
                        data-dismiss="modal">关 闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="submit()">
                    提 交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- BEGIN JS -->
<script src="__ROOT__/Public/js/jquery.js" ></script><!-- BASIC JS LIABRARY -->
<script src="__ROOT__/Public/js/bootstrap.min.js" ></script><!-- BOOTSTRAP JS  -->
<script src="__ROOT__/Public/js/jquery.dcjqaccordion.2.7.js"></script><!-- ACCORDING JS -->
<script src="__ROOT__/Public/js/jquery.scrollTo.min.js" ></script><!-- SCROLLTO JS  -->
<script src="__ROOT__/Public/js/jquery.nicescroll.js" > </script><!-- NICESCROLL JS  -->
<script src="__ROOT__/Public/js/respond.min.js" ></script><!-- RESPOND JS  -->
<script src="__ROOT__/Public/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script><!-- BOOTSTRAP DATETIMEPICKER JS  -->
<script src="__ROOT__/Public/js/common-scripts.js" ></script><!-- BASIC COMMON JS  -->
<script src="__ROOT__/Public/js/advanced-form-components.js" ></script><!-- ADVANCE FORM COMPONENTS PAGE JS  -->
<script src="__ROOT__/Public/assets/bootstrap-datetimepicker/js/locale/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__ROOT__/Public/js/jquery.stepy.js" ></script><!-- JQUERY STEPY WIZARD JS  -->
<script src="__ROOT__/Public/js/jquery.validate.min.js"></script><!-- VALIDATE JS  -->
<!-- END JS -->

<script>
    $("#color_module").addClass("active");
    $("#production_line").addClass("active");

    var app = angular.module("myApp",[]);
    app.controller("formController",function($scope){
        $scope.submit = function(){
            $("#close").click();
            alert("提交成功！");
        }
        $scope.getTime = function(){
            var date = new Date();
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            m = m < 10 ? ('0' + m) : m;
            var d = date.getDate();
            d = d < 10 ? ('0' + d) : d;
            var h = date.getHours();
            var minute = date.getMinutes();
            minute = minute < 10 ? ('0' + minute) : minute;
            $scope.time = y + '-' + m + '-' + d+' '+h+':'+minute;
        }
    });

    $(function() {
        $('#default').stepy({
            backLabel: '前一页',
            block: true,
            nextLabel: '下一页',
            titleClick: true,
            titleTarget: '.stepy-tab'
        });
    });

</script>
</body>
</html>


